<!DOCTYPE html>
<html lang="en">
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                            <a class="nav-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="/">Sign Up</a></li>
                                <li class="nav-item"><a class="nav-link" href="/">Log Out</a></li>
                        </ul>
                        
                    </div>
                </div>
        </nav>
